<!DOCTYPE html>
<html>
<head>
     
 

 

</head>
<body>


    <ul>

        <li> Connectionstring: <strong>@ViewBag.Conn</strong></li>
        <li> Environtment: <strong>@ViewBag.Env</strong></li>


    </ul>
    <h4></h4>
    </body>
</html>